footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  footer .social-media-icons {
    margin-bottom: 20px;
  }
  
  footer .social-media-icons a {
    color: #333;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  footer .social-media-icons a:hover {
    color: #007bff;
  }
  
  footer p {
    font-size: 14px;
    color: #666;
  }
  